html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#container {
  height: 100%;
}

.diffActions {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  padding: 0 2px;
  box-sizing: border-box;
}

.diffAction {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: var(--vscode-icon-foreground);
  opacity: 0.8;
  height: var(--diff-merge-lineheight);
  line-height: var(--diff-merge-lineheight);
}

.diffAction:hover {
  opacity: 1;
}
