.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
azure-pipelines.yml
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
resources/**/node_modules
azure-pipelines.yml
.github
.env